/* Preset */

@font-face {
    font-family: Offside;
    src: url("/style/fonts/Offside-Regular.ttf");
}

:root {
    --clr-primary: #0ff409;
    --clr-secondary-1: #4322f5;
    --clr-secondary-2: #f50a8b;
    --clr-neutral-1: #050506;
    --clr-neutral-2: #1b182d;
    --clr-neutral-3: #d4d0ec;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Offside", sans-serif;
    color: var(--clr-primary);
}

/* Animations */

@keyframes slide-in {
    0% {
        translate: 0 -5%;
    }
    100% {
        translate: 0 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Styles */

body {
    position: fixed;
    inset: 0 0;
    overscroll-behavior: contain;

    scroll-behavior: none;

    background: var(--clr-neutral-1);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    margin: 0;
    padding: 2rem 1rem;
    padding-top: 0;
    height: 100vh;
}

h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
p {
    margin: 0;
}
h1,
h2,
p {
    filter: drop-shadow(0 0 3px currentColor);
}

a,
a:visited {
    color: var(--clr-secondary-1);
}

a:hover,
a:focus {
    opacity: 0.9;
}

a:active {
    opacity: 0.7;
}

img {
    user-select: none;
}

.chField,
button {
    width: 3em;
    aspect-ratio: 1;
    display: grid;
    place-content: center;

    padding: 0.75em;
    margin: 0;

    border: 2px solid var(--clr-secondary-2);
    border-radius: 0.5rem;
    outline: none;

    font-weight: bold;
    background-color: transparent;
    color: var(--clr-secondary-2);
    filter: drop-shadow(0 0 3px currentColor);
    user-select: none;

    transition: all 0.2s ease;
}

.chField:hover,
.chField:focus,
button:hover,
button:focus {
    opacity: 0.9;
    filter: drop-shadow(0 0 4px currentColor);
    scale: 1.1;
}

.chField:active,
button:active {
    opacity: 0.7;
}

.chField > input {
    display: none;
}

.icon {
    --_icon: ""; /* Override */
    mask-image: var(--_icon);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: var(--clr-secondary-2);

    display: block;
    min-width: 1.125rem;
    aspect-ratio: 1;
}

/* --- */

main {
    width: clamp(10rem, 100%, 30rem);
    position: relative;
}

.game-controlls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-score {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
}

#game {
    width: clamp(10rem, 100%, 30rem);
    aspect-ratio: 1;
    margin: 1rem 0;

    border: 3px solid var(--clr-secondary-1);
    border-radius: 0.5rem;
    box-shadow: 0 0 15px 1px var(--clr-secondary-1);

    background-color: var(--clr-neutral-1);
}

footer {
    color: var(--clr-secondary-1);
    opacity: 0.7;
    font-size: 0.8rem;
}

/* --- */

dialog {
    overscroll-behavior: contain;
}

.game-dialog[open] {
    width: clamp(10rem, 80%, 20rem);
    aspect-ratio: 1;
    padding: 1.5rem;

    border: 3px solid var(--clr-neutral-3);
    border-radius: 0.5rem;
    box-shadow: 0 0 15px 1px var(--clr-neutral-3);

    background: var(--clr-neutral-1);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    animation: slide-in 0.2s ease-in, fade-in 0.2s ease-in;
}

.game-dialog::backdrop {
    overscroll-behavior: contain;
    background: black;
    opacity: 0.8;
}

.game-dialog[open]::backdrop {
    animation: fade-in 0.2s ease-in;
}

.game-dialog h2 {
    color: var(--clr-primary);
    margin: 0;
}

.game-dialog #illustration {
    width: clamp(5rem, 50%, 8rem);
    aspect-ratio: 1;

    border: 3px solid var(--clr-secondary-1);
    border-radius: 0.5rem;
    box-shadow: 0 0 15px 1px var(--clr-secondary-1);

    background-color: var(--clr-neutral-2);
}

.button-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 2rem;
}

.gameOver #btn-play {
    display: none;
}

.gameStart #btn-reset {
    display: none;
}

/* Desktop */

@media (width >= 1000px) {
    .game-controlls {
        position: absolute;
        left: -2rem;
        top: 1rem;
        translate: -100%;

        flex-direction: column-reverse;
        gap: 1rem;
    }

    .game-score {
        flex-direction: row-reverse;
        gap: 1.5em;
    }
    .game-score > p {
        width: 1ch;
        word-break: break-all;
    }
}
